<div class="form-group row">

    <div class="form-check col-2">
        <input class="form-check-input ml-1" type="radio" name="search" value="NUMERAL" checked>
        <label class="form-check-label ml-4"> Codigo </label> |
        <input class="form-check-input ml-0" type="radio" name="search" value="NUMERAL" checked>
        <label class="form-check-label  ml-3"> Nome </label>
    </div>
    <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="">
    </div>
    <div class="col-sm-2">
        <input type="button" class="btn btn-primary btn-block" value="Pesquisar" />
    </div>
</div>
