<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">            
            <img src="~/images/liberty60x60.png" />
        </a>     

            <h1 class="text-center">  Recursos Workflolw </h1>       
    </nav>
</header>
