
@{
    ViewData["Title"] = "Index";
}

<h1>Nova Index</h1>


<div class="row">

    <div class=" col-sm bg-danger m-3 p-4">
        Vermelho
    </div>

    <div class=" col-sm bg-info m-3 p-4">
        Cinza
    </div>

    <div class=" col-sm bg-primary m-3 p-4">
        Azul
    </div>


    <div class="col-sm badge-warning m-3 p-4">
        Azul
    </div>

</div>
