@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
     <table class="table table-bordered">
         <thead>
             <tr>
                 <th>Codigo</th>
                 <th>Nome</th>
                 <th>Data Cadastro</th>
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>0001</td>
                 <td>Sergio Dias Santos</td>
                 <td>13/07/2020 22:33</td>
             </tr>
             <tr>
                 <td>0002</td>
                 <td>Mariana Soares Lima</td>
                 <td>13/07/2020 22:34</td>
             </tr>
             <tr>
                 <td>0001</td>
                 <td>Sergio Dias Santos</td>
                 <td>13/07/2020 22:33</td>
             </tr>
             <tr>
                 <td>0003</td>
                 <td>Camila Ferreira Duarte</td>
                 <td>13/07/2020 22:35</td>
             </tr>
         </tbody>
     </table>
</div>
